header {
  height: 80px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0.8;
}

.logo {
  width: 120px;
  height: 60px;
  color: white;
  font-size: 24px;
  padding-left: 50px;
}

.cart-block {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}

img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.cart-block-container {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.cart-block-container:hover {
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.home-btn:hover {
  width: 50px;
  height: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  border-radius: 5px;
}
